---
import Layout from '~/layouts/Layout.astro';
import ArticleCatalog from '~/components/ArticleCatalog.astro';
import { getAllArticles, filterByTopic } from '~/utils/fetchArticles';
import { Site } from '~/data/config';

const allArticles = await getAllArticles();
const techArticles = filterByTopic(allArticles, 'tech');
const title = `${Site.title} — Tech Articles`;
---

<Layout {title} active="tech">
  <main>
    <ArticleCatalog title="Tech Articles" articles={techArticles} language="en" />
  </main>
</Layout>
