body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

a:hover {
  color: var(--active-color);
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--primary-color);
  transition: transform 0.3s ease;
  transform-origin: left;
}

a:hover::after {
  width: 100%;
}

.book-link,
.blog-link,
.credit-links {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.book-link:hover,
.blog-link:hover,
.credit-links:hover {
  color: var(--active-color);
}

.book-link::after,
.blog-link::after,
.credit-links::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--primary-color);
  transition: transform 0.3s ease;
  transform-origin: left;
}

.book-link:hover::after,
.blog-link:hover::after,
.credit-links:hover::after {
  width: 100%;
}
