---
import Layout from '~/layouts/Layout.astro';
import ContactPage from '~/components/ContactPage.astro';
import { Site } from '~/data/config';

const title = `${Site.title} — Contact`;
---

<Layout {title} active="contact">
  <main>
    <ContactPage language="en" />
  </main>
</Layout>
