---
import { Site } from '~/data/config';
import SchemaMarkup from '~/components/SchemaMarkup.astro';
const { includeSchema = false } = Astro.props;
---

<meta charset="utf-8" />
<title>{Site.title}</title>
<meta name="description" content={Site.description} />
<meta name="generator" content={Astro.generator} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png">
<link rel="icon" href="/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="manufosela.es">
<meta name="application-name" content="manufosela.es">

{includeSchema && <SchemaMarkup />}

