---
import { contributionsData } from '~/data/config';

const { language } = Astro.props;

const slides = contributionsData[language] || [];
---

<div class="pagecontent">
  {slides.map((slide, index) => (
    <p class="textContent" id={`slide${index}`}>
      <span class="title">{slide.title}: </span>{slide.description}
    </p>
  ))}
</div>

<style>
  .title {
    font-weight: bold;
    color: var(--primary-color);
  }
  .textContent {
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 991px) {
    .title {
      display: block;
    }
    .textContent {
      font-size: 1rem;
    }
  }

</style>
