---
import BaseHead from '~/components/BaseHead.astro';
import { Site } from '~/data/config'
import '~/styles/layout.css';
import '~/styles/fonts.css'

interface Props {
  title: string,
  includeSchema?: boolean,
  description?: string,
  image?: string,
}

const { title, includeSchema = false, description = Site.description, image = '/manufosela.png' } = Astro.props;

const isProduction = import.meta.env.PROD;
---

<html>
  <head>
    <BaseHead title={title} includeSchema={includeSchema} />
    <style>
      @font-face {
        font-family: "Inter";
        font-display: swap;
        font-style: normal;
        src: url("/fonts/inter-subset.woff2") format("woff2");
      }
      @font-face {
        font-family: "Lora";
        font-display: swap;
        font-style: normal;
        src: url("/fonts/lora-subset.woff2") format("woff2");
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>

